body {
    background: linear-gradient(90deg, rgba(241,171,9,1) 0%, rgba(229,92,7,1) 100%);
}
* {box-sizing: border-box;}
h1 {
    text-align: center;
}
h3 {
    font-size: xx-large;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px darkslategrey;
    /*width: 40%;*/
    align-self: center;
    text-align: center;
}

button {
    max-width: 150px;
    align-self: center;
    font-size: larger;
    margin: 20px;
    padding: 10px;
}

p {
    font-size: x-large;
    font-weight: bold;
}

img {
    border-radius: 5%;
}
